.features-section {
  padding: 40px;
  background: linear-gradient(135deg, rgba(236, 233, 230, 0.7), rgba(255, 255, 255, 0)), url('../../assets/pic7.jpg');
  background-size: cover;
  background-blend-mode: overlay;
}

.feature-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 1rem;
}

.feature-card {
  flex: 1 1 30%;
  max-width: calc(30% - 20px);
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  background-color: #fff;
  margin-bottom: 2rem;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: #f0f2f5;
}

.feature-card h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 26px;
  color: #001529;
  transition: color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.feature-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  padding: 0 15px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

.read-more-button {
  background-color: #1890ff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 180px;
}

.read-more-button:hover {
  background-color: #006bb3;
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px;
  max-width: 600px;
  width: 90%;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: color 0.3s;
}

.close-button:hover {
  color: #ff4d4f;
}

.image-container {
  width: 100%;
  padding-top: 30%;
  padding-bottom: 5rem;
  position: relative;
}

.image-container img {
  position: absolute;
  margin-top: -2rem;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  min-width: 270px;
  min-height: 250px;
  object-fit: fill;
}

@media (max-width: 480px) {
  .feature-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-top: 1rem;
  }

  .features-section {
    padding: 15px;
    background-color: #001529;
    background-image: none;
  }

  .feature-card {
    width: 100%;
    margin-bottom: 0.5rem;
    min-width: 400px;
  }

  .feature-card:hover {
    transform: translateY(-10px);
  }

  .feature-card h2 {
    font-size: 24px;
  }

  .feature-card p {
    margin-top: 25px;
    font-size: 14px;
  }

  .read-more-button {
    padding: 8px 16px;
    margin-left: 35%;
  }

  .image-container {
    padding-top: 40%;
    padding-bottom: 2rem;
  }

  .image-container img {
    min-width: 200px;
    min-height: 200px;
  }
}
