.cloud-platform-container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 50px;
  }
  
  .intro-section .title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .intro-section .description {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
  }
  
  .feature-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111;
  }
  
  .feature-card p {
    font-size: 16px;
    color: #666;
  }
  