.aboutus {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 60px 20px;
  background: linear-gradient(135deg, rgba(236, 233, 230, 0.4), rgba(255, 255, 255, 0)), url('../../assets/pic5.jpg') no-repeat center center fixed;
  background-size: cover;
}

.about-us-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-heading h1 {
  text-align: center;
  color: #001529;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-us-image-container {
  flex: 1;
  max-width: 750px;
  max-height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.about-us-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.about-us-description {
  flex: 1;
  text-align: justify;
  margin-top: -1rem;
  margin-left: 1rem;
  font-size: 20px;
  color: #333;
  line-height: 1.8;
}

.read-more-dis-button {
  margin-top: -2rem;
  margin-left: 8rem;
}

@media (max-width: 768px) {
  .about-us-container {
    padding: 20px;
  }

  .about-us-heading h1 {
    font-size: 32px;
  }

  .about-us-content {
    flex-direction: column;
  }

  .about-us-description {
    font-size: 16px;
  }

  .about-us-image-container {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 300px; 
    max-height: 200px; 
  }
}
