.calendar-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.event-form input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

.event-form button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.event-form button:hover {
  background-color: #0056b3;
}

.delete-event-button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
}

.rbc-calendar {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rbc-toolbar {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 8px 8px 0 0;
}

.rbc-event {
  background-color: #28a745;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rbc-today {
  background-color: #e9ecef;
}

@media (max-width: 480px) {
  .calendar-container {
    width: 115%;
    padding: 10px;
    margin-left: -20px;
    box-shadow: none;
  }

  .event-form input,
  .event-form button {
    padding: 6px;
    font-size: 12px;
  }

  .rbc-event {
    font-size: 12px;
  }

  .rbc-calendar {
    min-width: 365px;
    margin-left: -10px;
  }

  .delete-event-button {
    font-size: 12px;
  }
}