.Guest-News-container {
    max-width: 1500px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Guest-News-heading {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.Guest-News-card {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 100%;
    gap: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    justify-content: center;
    align-items: center;
}

.Guest-News-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Guest-News-card-media {
    min-height: 450px;
    min-width: 100%;
    object-fit: cover;
}

.Guest-News-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
}

.Guest-News-card-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.Guest-News-card-description {
    color: #555;
}

@media (max-width: 480px) {
    .Guest-News-container {
        background-color: #001529;
        margin-bottom: -10px;
    }

    .Guest-News-heading {
        color: #fff;
    }

    .Guest-News-card {
        min-width: 400px;
    }
}