.contact {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 80vh;
  background-image: url('../../assets/conntactusheader.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form {
  background-color: transparent;
  padding: 40px;
  border-radius: 10px;
  max-width: 700px;
  margin: 60px 60px;
  width: 100%;

}

.contact-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.contact-label {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
  color: #fff;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  color: #fff;
  background-color: transparent;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.contact-input:focus,
.contact-textarea:focus {
  border-color: #5b9bd5;
  outline: none;
}

.contact-submit {
  background-color: #001529;
  color: #fff;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.contact-submit:hover {
  background-color: #002529;
}
