.news-header-container{
    height: 70vh;
    background-image: url('../../assets/news.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    .news-header-container {
        height: 50vh;
        background-position: center;
        margin-bottom: -21px;
    }
}